body {
    background-color: #0f111a;
}
.App {
    padding-top: 1%;
    text-align: center;
    min-height: 50vh;
    color: #e2cca4;
}

.AppHeader {
    display: flex;
    flex: 10;
    flex-direction: column;
    align-items: row;
    justify-content: center;
    border-bottom: solid 0.3em #090b10;
}

.GameContainer {
    margin-left: 1%;
    flex: 4;
    flex-direction: row;
    background-color: #161824;
}

div.GameSidebar {
    flex: 1;
    flex-direction: row;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 3px;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.GameGreeting {
    flex: 1;
    border: 1px #e2cca4 solid;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
}

div.GameControls {
    flex: 5;
    overflow-y: auto;
}

div.ColourContainer {
    display: flex;
    flex-direction: row;
}

span.ColourSelector {
    flex: 1;
    width: 1em;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    box-sizing: border-box;
    border: 3px solid black;
}

span.ColourSelector:hover {
    border: 3px solid white;
    box-sizing: border-box;
}

div.TokenControlContainer {
    height: 100%;
}

.Content {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    padding: 1em;
}

.HeadlineImage {
    padding-right: 1em;
}

.Title {
    font-size: 28pt;
    padding-left: 0.5em;
    font-weight: bold;
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: center;
}

.Greeting {
    padding-right: 0.5em;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}

.FormRow {
    margin-bottom: 0.5em;
}

input[type=text], [type=password] {
    padding-left: 0.5em;
    background-color: inherit;
    color: inherit;
    font-size: 10pt;
    border: none;
    border-bottom: 1px solid #8f723d;
}

input[type=text]:focus, [type=password]:focus {
    border-bottom: 1px solid #deab4e;
}

label {
    display: inline-block;
    width: 8em;
    text-align: left;
}

div.TabContainer {
    display: flex;
    text-align: center;
    align-content: center;
}

div.TabBody {
    flex: 3;
    padding: 0.3em;
    border-bottom: 1px #e2cca4 solid;
    border-right: 1px #e2cca4 solid;
    border-left: 1px #e2cca4 solid;
}

span.SelectedTab {
    flex: 1;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    padding: 0.3em;
    padding-bottom: 1em;
    border-left: 1px #e2cca4 solid;
    border-top: 1px #e2cca4 solid;
    border-right: 1px #e2cca4 solid;
}

span.UnselectedTab {
    flex: 1;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    padding: 0.3em;
    padding-bottom: 1em;
    cursor: pointer;
    border: 1px #a38855 solid;
    border-bottom-color: #e2cca4;
    color: #a38855;
}

span.UnselectedTab:hover {
    color: #8f723d;
}

div.PlayerName {
    font-size: 10pt;
    text-align: left;
    padding-left: 1em;
}

div.InfoDisplay {
    padding-bottom: 1em;
    font-size: 14pt;
}

a {
    outline: none !important;
}